body{
	background-color: #e6def9;
}

#red{
	background-color: red;
	height: 100px;
	width: 200px;
	margin-right: 10px;
	margin-top: 10px;
}

.row{
	background-color: blue;
}

img{
	margin-right: 10px;
	margin-top: 10px;
	width: 100px;
}

